#top-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 50px auto 100px;
}

#header {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

#main {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

#footer {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

#main {
  margin-top: -20px;
}

#main p a {
  display: block;
  margin: 0 auto;
  font-size: 2rem;
  text-align: center;
}

#main article p {
  background: url(/top.png) center top no-repeat;
  padding-top: 85px;
}