#header, #main, #menu, #footer {
  padding: 20px;
}

#footer footer {
  text-align: center;
}

#header .home-link {
  display: inline;
}

#header .site-links {
  float: right;
  list-style: none;
  margin: 0;
}

#header .site-links li {
  display: block;
  float: left;
  margin-right: 20px;
}

#menu nav ul {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

#menu nav li {
  list-style: none;
}
