#header, #main, #menu, #footer {
  padding: 20px;
}

#footer footer {
  text-align: center;
}

#header .home-link {
  display: inline;
}

#header .site-links {
  float: right;
  list-style: none;
  margin: 0;
}

#header .site-links li {
  display: block;
  float: left;
  margin-right: 20px;
}
