<div id="menu">
  <h3><img src="/0_images/top.png"></h3>
  <nav>
    <ul>
      <li><a href="/"><i class="fas fa-home"></i><span>Home</span></a></li> 
      <li><a href="/"><i class="fas fa-bookmark"></i><span>Categories</span></a></li>
      <li><a href="/"><i class="fab fa-github"></i><span>GitHub</span></a></li> 
      <li><a href="/"><i class="fas fa-newspaper"></i><span>Blog(JP)</span></a></li> 
      <li><a href="/"><i class="fas fa-book-open"></i><span>Wiki(JP)</span></a></li> 
    </ul>
  </nav>
</div>
