<div id="menu">
  <h3><img src="/0_images/top.png"></h3>
  <nav>
    <ul>
      <li><a href="/"><span class="icon"><i class="fas fa-home"></i></span><span class="label">Home</span></a></li> 
      <li><a href="/"><span class="icon"><i class="fas fa-bookmark"></i></span><span class="label">Categories</span></a></li>
      <li><a href="https://github.com/yanoryuichi/yanoryuichi.github.io"><span class="icon"><i class="fab fa-github"></i></span class="label">GitHub</span></a></li> 
      <li><a href="http://yanoryuichi.com/"><span class="icon"><i class="fas fa-newspaper"></i><span class="label">Blog(JP)</span></a></li> 
      <li><a href="http://yanor.net/wiki/"><span class="icon"><i class="fas fa-book-open"></i><span class="label">Wiki(JP)</span></a></li> 
    </ul>
  </nav>
</div>
