<!-- head -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>yanoryuichi.github.io</title>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-7631984-3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-7631984-3');
</script>
<!-- /Global site tag (gtag.js) - Google Analytics -->
<link rel="stylesheet" href="https://code.cdn.mozilla.net/fonts/fira.css">
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/all.js" integrity="sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe" crossorigin="anonymous"></script>
<link rel="stylesheet" href="/0_css/base.css" />
<link rel="stylesheet" href="/0_css/style.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/0_scripts/main.js"></script>
<link href="/1_prismjs/prism.css" rel="stylesheet" />
<link href="/1_prismjs/prism_mod.css" rel="stylesheet" />
<!-- /head -->
