pre[class*="language-"] {
	padding: 0.2 0.3em;
	margin: .5em 0;
	overflow: auto;
	border-radius: 0;
}

:not(pre) > code[class*="language-"], pre[class*="language-"] {
    background-color: #e2e2e2;
}

.token.operator, .token.entity, .token.url, .language-css .token.string, .style .token.string {
    background: none;
}

code[class*="language-"], pre[class*="language-"] {
    text-shadow: none;
    font-family: "Fira Mono", monospace;
}

