pre[class*="language-"] {
	padding: 0.2em;
	margin: .5em 0;
	overflow: auto;
	border-radius: 0;
}
:not(pre) > code[class*="language-"], pre[class*="language-"] {
    background-color: #e0ecff;
}

.token.operator, .token.entity, .token.url, .language-css .token.string, .style .token.string {
background: none;
}

code[class*="language-"], pre[class*="language-"] {
    text-shadow: none;
}