/* ------------------------------------------------------------------------
  Fonts
------------------------------------------------------------------------ */
body {
  background-color: #fbfbfb;
  font-family: "Lato", "游ゴシック Medium", "Yu Gothic Medium", 游ゴシック体, YuGothic, sans-serif;
  font-size: 16px;
}

h1, h2, h3, h4, h5 {
  font-weight: bold;
}

a {
  color: #215dc6;
  text-decoration: none;
}

a:visited {
  color: #933;
  color: #215dc6;
}

a:hover {
  text-decoration: underline;
}

code {
  font-family: "Fira Mono", monospace;
}

/* ------------------------------------------------------------------------
  Layouts
------------------------------------------------------------------------ */
#top-container {
  max-width: 75rem;
  margin: 0 auto;
}

/* ------------------------------------------------------------------------
  Grid
------------------------------------------------------------------------ */
#top-container {
  display: grid;
  grid-template-columns: 150px 1fr;
  grid-template-rows: 50px auto 100px;
}

#header {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}

#main {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

#footer {
  grid-column: 1 / 3;
  grid-row: 3 / 4;
}

#menu {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}
