/* ------------------------------------------------------------------------
  Font
------------------------------------------------------------------------ */
body {
  background-color: #fbfbfb;
  font-family: "Fira Mono";
  font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5 {
  font-weight: bold;
}

a {
  color: #215dc6;
  text-decoration: none;
}

a:visited {
  color: #933;
  color: #215dc6;
}

a:hover {
  text-decoration: underline;
}

/* ------------------------------------------------------------------------
  Width/Height/Margin/Padding
------------------------------------------------------------------------ */
#top-container {
  max-width: 120rem;
}

/* ------------------------------------------------------------------------
  Grid
------------------------------------------------------------------------ */
#top-container {
  display: grid;
  grid-template-columns: 150px 1fr;
  grid-template-rows: 50px auto 100px;
}

#header {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}

#main {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

#footer {
  grid-column: 1 / 3;
  grid-row: 3 / 4;
}

#menu {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}
